<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - TV Diary</title>
      {% else %}
      <title>Welcome to TV Diary</title>
      {% endif %}
    </head>
    <body>
        <div>TV Diary:
            <a href={{url_for('home')}}>Home</a>
            <a href={{url_for('login')}}>Login</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>

        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>